# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html
graft wheelhouse

recursive-exclude __pycache__  *.pyc *.pyo *.orig
graft core
graft data
graft modules
graft restores

exclude *.js*
exclude *.git*
exclude *.coveragerc
exclude *.sh
exclude proc*
exclude pylint*
include README*
include LICENSE*
include *.example

include requirements*.*
exclude requirements-dev.*
include *.py
exclude package.py
exclude setup.py
exclude MANIFEST.in


prune .git
prune venv
prune test*

